h1{
	color: #070707;
	font-size: 35px;
	font-family: Kefa;
	text-align: center;
 }
 h2{
 	color: #0050ef;
 	text-align: center; 
 }	
 li{
 	color: pink;
 	text-align: center;
 }
 body{
 	background-color:#EDFBFA;
 }


strong {
  color: #222324;
}

.navbar {
  color: #86708C
}

.btn {
  font-weight: 2000;
}

.btn-primary {
  background:#3347FF ;
  border-color:#ACA8C4;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

.card {
  border-color:#ACA8C4;
}

.card-title {
  color: #e16879;
  font-weight: 300;
}

.card-block small {
  float: right;
}

.description {
  background-image: url(../image/bluee.png);
  background-repeat: repeat-x;
}

.linkcolour {
	color: white;
}
